h1{
	text-align:center;
}
p{
	text-align:center-right;
}
#vid4{
	text-align:center-left;
}
#ep1{
	text-align:center-left
}
#ep2{
	text-align:center-left
}
#ep3{
	text-align:center-left
}
iframe{
	text-align:center;
}